<c:set var="contextPath" value="${pageContext.request.contextPath}" />

<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Admin Menu Page</h1>

<form action="/add_menu" method="post">
    Menu Name:<input type="text" name="menuName"/>
    <br/><br/>
    <input type="submit" value="Add Menu"/>
</form>

</body>
</html>

