<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>

<body>
    <!-- The below line is used to display the message variable passed by controller -->
    <p th:text="${message}" />

    <!-- The below form sends a POST request to /admin_login URL with userName and password variables-->
    <form action="/admin_login" method="post">
        UserName:<input type="text" name="userName"/>
        <br/><br/>
        Password:<input type="password" name="password"/>
        <br/><br/>
        <input type="submit" value="login"/>
    </form>
</body>
</html>