<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View/Manage Menu Page</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        /* Custom CSS for background image */
        body {
            background-image: url('https://classicbakes.com/sites/default/files/styles/og_image_1200/public/2022-07/nutella-stuffed-pancakes.jpg?itok=4Cov_Zka');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">Our Menu:</h1>
    <div th:each="menu : ${menuList}">
        <h2 th:text="${menu.menuName}"></h2>
        <table class="table" id="slot-table-1">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${menu.itemList}">
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.itemPrice}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<form action="/admin_view_menu" method="post">
    <div class="text-center mt-4">
        <input type="submit" value="Manage Menu" class="btn btn-primary">
    </div>
</form>

<!-- Add Bootstrap JavaScript scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
