<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Item</title>
</head>

<body>
<!-- The below line is used to display the message variable passed by controller -->
<p th:text="${message}" />

<!-- The below form sends a POST request to /admin_login URL with userName and password variables-->
<form action="/delete_item" method="post">
    ItemName:<input type="text" name="itemName"/>
    <br/><br/>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>